@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

html,
body {
  min-height: 100vh;
  /* background: linear-gradient(152.41deg, #014D89 22.18%, #001451 97.61%); */
  /* background-repeat: no-repeat; */
  background: #F1F4F9;
}

.uppercase {
  text-transform: uppercase;
}

.font-500 {
  font-weight: 500;
}

.font-small {
  font-size: 12px;
}

.rounded-top {
  border-radius: 6px 6px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 6px 6px;
}

.rounded-full {
  border-radius:6px;
}

.underline-off {
  text-decoration: none;
}

.page-enter-active, .page-leave-active {

}

.page-enter, .page-leave-to {

}

.layout-enter-active, .layout-leave-active {
  transition: all 0.15s ease;
  transform: translateX(0);
  /* opacity: .9; */
}

.layout-enter, .layout-leave-active {
  /* transition: all 0.25s ease; */
  /* opacity: .9; */
  transform: translateX(-100%);
  opacity: 0;
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s ease;
  /* transform: translateX(250px); */
  /* opacity: 1; */
}
.page-enter,
.page-leave-active {
  /* opacity: 0; */
  /* opacity: .5; */
  /* transition: all 0.1s ease; */
  opacity: .5;
  /* transform: translateX(-100%); */
  /* backface-visibility: hidden; */
}
